.header{
    background: linear-gradient(rgb(0,0,0,0.0), rgb(0, 0, 0,0.50)), url("food4.jpg");
    max-width: 1200px;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    overflow-x: hidden;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.navbar{
    /* border: 2px solid greenyellow; */
    display: flex;
    padding: 40px 120px;
}
.navbar_logo img{
    height: 120px;
}
.navbar_links{
    /* border: 2px solid white; */
    flex: 1;
}

.navbar_links ul{
    /* border: 2px solid snow; */
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
}
.navbar_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
    
}
.navbar_links ul li a{
    color: whitesmoke;
    text-decoration: none;
    
}
.navbar_links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: yellow;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.sub_menu_1{
    display: none;
}
.navbar_links ul li::after{
    display: none;

}

.navbar_links ul li:hover .sub_menu_1{
   
    display: flex;
    background-color: maroon;
    position: absolute;
    margin-top: 15px;
    flex-direction: column;
    width:200px;
    height: 250px;
    margin-left: -20px;
    border: 1px solid whitesmoke;
    
}


.navbar_links:hover .sub_menu_1 ul{
    flex-direction: column;
    margin: 20px;
}
.navbar_links:hover .sub_menu_1 ul li{
    border-bottom: 1px solid whitesmoke;
    padding-left: 0px;
    margin: 10px 0px;
    border-radius: 0;
 }

 .sub_menu_1 .fa-angle-right{
     color: white;
     /* border: 1px solid white; */
      position: absolute;
     right: 50px;

 }
 .sub_menu_2{
     display: none;
 }
 .hover_me:hover .sub_menu_2{
     border:1px solid whitesmoke;
     width: 180px;
     position: absolute;
     display: flex;
     margin-top: -2px;
     margin-left: 140px;
     background-color: maroon;
 }


.navbar_links ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px 20px;
    border: 3px solid rgb(165, 42, 42);
    background-color: rgb(165, 42, 42);
    font-weight: bold;
    cursor: pointer;
    color: whitesmoke;
    /* border: 0; */
   
}
.btn:hover{
    transition: 0.5s;
    background-color: rgb(165, 42, 42);
    background: transparent;
    
}
.navbar_links ul button{
    margin-left: auto;
}


.banner_title{
    margin: 80px 130px;
    color: white;
}
.banner_title h1{
    font-size: 50px;
    margin-bottom: 30px;
}
.banner_title h1 span{
    color: rgb(255, 255, 0);
}
.vertical_bar{
    height: 600px;
    background:linear-gradient(rgb(139, 0, 0),rgb(255, 228, 181)) ;
    top: 0;
    left: 0;
    position: absolute;
}
.search_icon{
    height: 60%;
    width: 80px;
    color: rgb(255, 255, 255);
}
.search_icon .fas{
    margin: 45px 23px;
    display: block;
    cursor: pointer;
    font-size: 30px;
}
.social_icon{
    height: 35%;
    width: 80px;
    padding:27%;
    bottom: 0;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.social_icon .fab{
    padding: 9px;
    border: 0.5px solid black;
    border-radius: 100px;
    cursor: pointer;
}
.notification{
     display: flex;
     width: 400px;
     right: 0;
     bottom: 0;
     position: absolute;
     background:linear-gradient(rgb(139, 0, 0),rgb(255, 228, 181)) ;
     align-items: center;
}
.content{
    flex-basis: 50%;
    padding: 10px;
}
.notification_img{
    flex-basis: 50%;
}
.notification small{
    color: rgb(255, 255, 255);
}
.notification_img img{
    width: 100%;
}
.content a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    margin: 0 10px;
}
.content p{
    text-align: right;
    margin-top: 10px;
}
.navbar .fa-bars{
    display: none;
}
.navbar .fa-times-circle{
    display: none;
}
.copyright{
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 100px;
    margin-left: 20px;
}

/* --------- Media Query ---------- */

@media (max-width:700px){
    .vertical_bar{
        display: none;
    }
    .banner_title{
        margin: 80px 40px;
    }
    .banner_title h1{
        font-size: 30px;
    }
    .notification{
        width: 100%;
    }
    .navbar{
        padding: 10px 10px;
    }
    .navbar .fa-bars{
        position: absolute;
        right: 20px;
        top: 10px;
        color: rgb(255, 255, 255);
        
    }
    .navbar .fa-times-circle{
        right: 20px;
        top: 10px;
        color: rgb(255, 255, 255);
        display: block;
        margin: 10px 62px;
        font-size: 22px;
        cursor: pointer;
    }
    .navbar .fa-bars{
       
        display: block;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    
    .navbar_links{
        height: 100%;
        width:200px;
        background-color: rgb(33, 33, 33);
        top: 0;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index:1;
        transition: 0.5s;
    }
    .navbar_links ul li{
        padding-left:10px;
        display: block;
    }
    .navbar_links ul button{
        margin-left: 9px;
        margin-top: 10px;
      
    }
    .navbar_links ul button:hover{
        background-color: rgb(165, 42, 42);
    }
   

}
